
<% let totalpage = Math.ceil(total/limit) %>
<% let pagee = parseInt(page)%>
<% let currentCategory = (where > 0 &&  categories[categories.length-1].id) ? where : 0 %>
<% let currentCategoryInfo = categories.find(c => c.id == currentCategory) %>
<h1></h1>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container__main">
      <div class="titles">
        <h1>文章列表</h1>
        <p class="category-choose"><%= (currentCategoryInfo === undefined) ? "所有文章" : currentCategoryInfo.name %> <i class="category-choose-btn fa fa-caret-down" aria-hidden="true"></i></p>
        <div class="category-choose-panel hide">
          <div class="category-choose-option"><a href="/posts?category=0">所有文章</a></div>

          <% for(c of categories) {%>
          <div class="category-choose-option"><a href="/posts?category=<%= c.id %>"><%= c.name %></a></div>
          <% } %>
        </div>
      </div>
      <div class="container__posts">
        <% for(post of posts) {%>
        <div class="post">
          <div class="post__title">
            <h1><%= post.title %></h1>
          </div>
          <div class="post__infos">
            <p><span><i class="fa fa-clock-o" aria-hidden="true"></i> <%= post.createdAt.toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' }) %></span>&nbsp;&nbsp;<span><i class="fa fa-folder-o" aria-hidden="true"></i> <%= post.Category.name %></span></p>
          </div>
          <div class="post__content">
            <p><%- post.content %></p>
          </div>
          <% if(isLogin){ %>
          <a href="/editPost/<%= post.id %>" class="edit-btn">編輯</a>
          <% } %>
          <a href="/post/<%= post.id %>" class="readmore-btn">READ MORE</a>
        </div>
        <% } %>
        <div class="paginator">
          <a class="page <% if (pagee===1) {%> active <%}%>" href="/posts?page=1&category=<%= currentCategory %>">1</a>
          <%if(pagee > 3) {%>
          <span class="pageignore">...</span>
          <% } %>
          <%if(pagee > 2) {%>
          <a class="page" href="/posts?page=<%= pagee-1 %>&category=<%= currentCategory %>"><%= pagee-1 %></a>
          <% } %>
          <%if(pagee !=1 && page != totalpage) {%>
          <a class="page active" href="/posts?page=<%= pagee %>&category=<%= currentCategory %>"><%= pagee %></a>
          <% } %>
          <%if(pagee < totalpage - 1) {%>
          <a class="page" href="/posts?page=<%= pagee+1 %>&category=<%= currentCategory %>"><%= pagee+1 %></a>
          <% } %>
          <%if(pagee < totalpage - 2) {%>
          <span class="pageignore">...</span>
          <% } %>
          <%if(totalpage > 1) {%>
          <a class="page <% if (pagee===totalpage) {%> active <%}%>" href="/posts?page=<%= totalpage %>&category=<%= currentCategory %>"><%= totalpage %></a>
          <% } %>
        </div>
      </div>
    </div>
    <footer>
      Copyright © 2020 Who's Blog All Rights Reserved.
    </footer>
    <script type="text/javascript">
      document.querySelector('.category-choose').addEventListener('click',function(){
        document.querySelector('.category-choose-panel').classList.toggle('hide')
        document.querySelector('.category-choose-btn').classList.toggle('fa-caret-down')
        document.querySelector('.category-choose-btn').classList.toggle('fa-caret-up')
      })
    </script>
  </body>
</html>
